<div class="row d-flex justify-content-center">
        <div class="col-lg-2 alert alert-secondary"> 
            <div class="vrednost">
                <h2 class="text-center">3</h2>
            </div>
            <div class="poeni">
                <p class="text-center">points</p>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <small>Naziv smestaja:</small>
                <h2>{{soba.naziv}}</h2>
                <small>Broj soba: {{soba.broj}}</small>
                <p>Opis: {{soba.opis}}</p>
            </div>
        </div>
</div>
