<div class="container">
  <div class="row d-flux justify-content-center">
    <form class="col-lg-6">
      <h3>Dodavanje sobe</h3>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="naziv" placeholder="Naziv sobe" #noviNaziv>
        <label for="naziv">Naziv sobe</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="broj" placeholder="Broj osoba" #noviBroj>
        <label for="broj">Broj osoba</label>
      </div>
      <div class="form-floating mb-3">
        <input type="textarea" class="form-control" id="opis" placeholder="Opis" #noviOpis>
        <label for="opis">Opis</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="link" placeholder="link" #noviLink>
        <label for="link">Link</label>
      </div>
      <div class="row d-flex justify-content-end">
        <div class="btn btn-primary" (click)="dodajSobu(noviNaziv, noviBroj, noviLink, noviOpis)">Dodaj</div>
      </div>
    </form>
  </div>
  <app-soba *ngFor="let soba of sobe" [soba]="soba"></app-soba>
</div>



<router-outlet></router-outlet>